@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


* {
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    position: relative;
    z-index: 1;
    top: 0;
    background-color: #1B242F;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 1s ease;
}

.visible {
    height: 11.3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar > span {
    text-align: right;
    font-size: 2rem;
    color: ivory;
    text-transform: uppercase;
    line-height: 3rem;
    padding: 0 1rem;
}

.navbar > a {
    padding: 0 1rem;
    color: ivory;
    text-transform: uppercase;
    line-height: 2rem;
}

.navbar > a:hover {
    color: red;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #252934;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header > h2 {
    color: ivory;
    padding: 1rem 0.5rem;
    font-weight: 350;
}

button.about {
    margin: 1rem 0;
    padding: 1rem 1rem;
    border: 3px solid white;
    border-radius: 5%;
    background-color: #252934;
    color: ivory;
}

.fixed-nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

#educacion {
    height: 100vh;

}

#tecnologia {
    height: 100vh;

}

#contacto {
    height: 100vh;
    background-color: #252934;
}