@import 'reset.css';

*{
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
 
html {
}
 
#home{
    background-color: salmon;
    height: 100vh;
}
 
#tecnologia{
    background-color: khaki;
    height: 100vh;
}
 
#contacto{
    background-color:sandybrown;
    height: 100vh;
}
 
header{
    background-color: #ccc;
    padding: 30px;
    height: 4.2rem;
    overflow: hidden;
    position: relative;
    transition: height .4s ease;
}
.headerAmpliado{
    background-color: #ccc;
    padding: 30px;
    height: 6.5rem;
    overflow: hidden;
    position: relative;
 
}
.header__titulo{
    margin: 0 0 1rem;
}
.header__subtitulo{
    margin: 0 0 1rem;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__nav a{
    color: #444;
    font-size: 1.2rem;
    font-weight: 900;
    transition: font-size .2s ease;
}
 
.nav__btn {
    position: absolute;
    right: 1rem;
    top:1rem;
    border:1px solid black;
    padding: .5rem;
    
 
}
 
.header__nav a:hover{
    color: white;
    font-size:1.3rem;
}
 
.perfil__figure{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
 
.perfil__figure figcaption{
    text-align: center;
    opacity: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 80px;
    font-size: 2rem;
    position: absolute;
    top: calc(75% - 40px);
    transition: opacity .5s ease;
}
 
.perfil__figure:hover figcaption{
    opacity: 1;
    background-color: rgb(37, 37, 121);
    color: white;
    left:0;
    width: 400px;
    height: 300px;
 
}
 
.perfil__figure img{
    width: 100%;
    height: auto;
}