
@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #252934;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h2 {
    color: ivory;
    padding: 1rem 0.5rem;
    font-weight: 350;
}

header a {
    margin: 1rem 0;
    padding: 1rem 1rem;
    border: 3px solid ivory;
    border-radius: 5%;
    background-color: #252934;
    color: ivory;
    cursor: pointer;
}

.navbar {
    position: relative;
    z-index: 1;
    top: 0;
    background-color: #1B242F;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 1s ease;
}

.nav-visible {
    height: 13.5rem;
}

.navbar span {
    text-align: right;
    font-size: 2rem;
    color: ivory;
    text-transform: uppercase;
    line-height: 3rem;
    padding: 0 1rem;
    cursor: pointer;
}

.navbar > a {
    padding: 0 1rem;
    color: ivory;
    text-transform: uppercase;
    line-height: 2rem;
}

.navbar > a:hover {
    color: red;
}

.fixed-nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

section h2 {
    padding: 2rem 0 0 0.2rem;
    font-weight: 350;
    text-transform: uppercase;
    font-size: 2rem;
}

section .section-bar {
    margin: 1rem 0 1rem 0;
    width: 6rem;
    height: 4px;
    background: #252934;
}

#sobremi figure {
    border-radius: 50%;
    overflow: hidden;
    width: 60%;
}

.sobremi--contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#sobremi figure img {
    width: 100%;
    height: auto;
}

#sobremi p {
    padding: 0.5rem 0 0 0;
    width: 90%;
    text-align: center;
    margin: 0px;
    font-size: 1rem;
    line-height: 1.2rem;
}

.intituciones {
    width: 100%;
}

.instituciones img {
    width: 90%;
}

.instituciones h3 {
    margin: 1rem;
    text-align: center;
}

.institucion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
}

.progress_bars {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pbars {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pbars label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    background-color: #252934;
    color: ivory;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pbars progress {
    margin: 1rem 1rem;
    width: 70%;
    background-color: #fff;
    height: 3rem;
}

.progress_bars progress::-webkit-progress-value {
    background: #252934;
  }

#contacto {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252934;
}

#contacto h2 {
    color: ivory;
}


#contacto .section-bar {
    margin: 1rem 0 1rem 0;
    width: 6rem;
    height: 4px;
    background: ivory;
}

#contacto .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#contacto input {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 90%;
    background-color: #1E242C;
    border: 1px solid ivory;
    color: ivory;
}

#contacto textarea {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 90%;
    height: 30vh;
    background-color: #1E242C;
    border: 1px solid ivory;
    color: ivory;
}

input::placeholder,
textarea::placeholder {
    padding: 0 1rem;
}

#contacto button {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 40%;
    color: ivory;
    background-color: #252934;
    border: 2px solid ivory;
}

.proyectos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.proyectos--tec {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.proyectos--tec img {
    width: 100%;
    height: auto;
    margin: 0;
}

.proyectos--tec h3 {
    padding: 0.5rem;
    font-weight: 350;
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
    
    .sobremi--contenido {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }
    
    #sobremi figure {
        width: 30%;
    }

    #sobremi p {
        text-align: left;
        padding: 0 2rem;
    }

    .institucion {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .institucion img {
        width: 45%;
        margin: 0;
    }

    .institucion h3 {
        width: 45%;
        margin: 0 1rem;
        text-align: left;
    }

    .proyectos--tec {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .proyectos--tec a{
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
} 


